/* ANNONCE CARD — composant de base

   Structure :
   .annonce-card               conteneur principal (article cliquable)
   .annonce-card__photo        zone image à gauche avec fondu
   .annonce-card__content      zone contenu à droite (remplie via children)

   Le contenu interne (titre, méta, footer) est géré par les composants
   enfants (AnnonceCardSaison, AnnonceCardAgri), pas ici.*/

   .annonce-card {
    position: relative;
    border-radius: var(--labor-radius-l);
    overflow: hidden;
    background: #fff;
    border: 1.5px solid var(--labor-color-border);
    cursor: pointer;
  
    /* Layout desktop : photo à gauche, contenu à droite */
    display: flex;
    min-height: 140px;
    
    margin: 20px 80px;
  
    /* Hover : scale + ombre + bordure orange on sépare les transitions pour que chaque effet ait sa vitesse */
    transition:
      transform var(--labor-transition-fast),
      box-shadow var(--labor-transition-medium),
      border-color var(--labor-transition-medium);
  }
  
  /* HOVER  */
  .annonce-card:hover {
    transform: scale(1.005);
    box-shadow: 0 8px 24px rgba(44, 42, 30, 0.12);
    border-color: var(--labor-color-secondary);
  }
  
  /* ZONE PHOTO*/
  .annonce-card__photo {
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
  }
  
  
  /* ZONE CONTENU */
  .annonce-card__content {
    flex: 1;
    margin-left: 180px;
    padding: var(--labor-spacing-l) var(--labor-spacing-l);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--labor-spacing-s);
    /* Empêche le contenu de déborder */
    min-width: 0;
  }
  
  /* RESPONSIVE — MOBILE (375px)
     La photo passe en haut de la card avec un fondu vers le bas.
     Le contenu s'affiche en dessous.*/
  
  @media (max-width: 768px) {
    .annonce-card {
      /* On passe en colonne */
      flex-direction: column;
      min-height: auto;
    }
  
    .annonce-card__photo {
      /* La photo prend toute la largeur et devient un bandeau */
      width: 100%;
      height: 100px;
    }
  
    /* En mobile le fondu va de haut vers bas au lieu de gauche vers droite, à voir si on garde le fondu */
    .annonce-card__photo::after {
      background: linear-gradient(to bottom, transparent 40%, #fff 100%);
    }
  
    .annonce-card__content {
      padding: var(--labor-spacing-s) var(--labor-spacing-m) var(--labor-spacing-m);
    }
  }