# Port du serveur Express
PORT=3000

# Environnement d'exécution (development | production | test)
NODE_ENV=development

# URL de connexion PostgreSQL (Prisma)
DATABASE_URL=postgresql://user:password@localhost:5432/saisonnier_agricole