body {
    width: 100%
}

/* navbar */
.navbar {
  background-color: #2C2A1E;
  height: 70;
  max-width: 1400;

  display: flex;
  align-items: center;
  justify-content: space-between ;

  padding: 10px;

}

/* logo */
.navbar__logo-img {
height: 60px;
}

/* liens navbar */
.navbar__links {
  display: flex;
  gap: 20px;
  padding: 20px;
  text-align: center;
}


.navbar__link-icon {
  /* remplacer apr logo home a choisir*/
  display: flex;
  align-items: center;
  padding: 5px;
  color: #2C2A1E;
  text-decoration: none;
  font-size: 20px;
  border-radius: 10px;
}

.navbar__link {
  display: flex;
  align-items: center;
  padding: 5px;
  text-decoration: none;
  color: #2C2A1E;
  border-radius: 10px;
}

.navbar__link:hover, .navbar__link-icon:hover {
  background-color: #F4A226;
}

.navbar__links--connected {
  background-color: #EDE8D0;
  border-radius: 50px;
  padding: 8px 24px;
  gap: 24px;
}



/* connexion/inscription */
.bouton__auth {

}

/* profil + dropdown */
.navbar__profile {
  display: flex;
  justify-content: end;
  border-radius: 12px 12px 0px 0px ;
  min-width: 120px;
  position: relative;
}

.navbar__profile-icon {
  color: #2C2A1E;
  /* remplacer apr logo home a choisir*/
}

.navbar__profile-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 50px;
}

.navbar__dropdown {
  display: none;
  position: absolute;
  top: 100%;

  right: 0;
  background-color: #F4A226;
  border-radius: 0px 0px 12px 12px ;
  padding: 8px 0;
  min-width: 120px;
  z-index: 100;
}

.navbar__profile:hover .navbar__dropdown {
  display: flex;
  flex-direction: column;
}

.navbar__profile:hover {
  background-color: #F4A226;

}

.navbar__dropdown-item {
  color: #2C2A1E;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  padding: 8px 20px;
  text-align: right;
}

 /* Ligne orange en bas du header */
.header__accent-line {
  height: 4px;
  background: linear-gradient(to right, #F4A226, #F76B1C);
}




main {
    height: 100vh;

}

.footer {
    background-color: #2C2A1E;
    color: #EDE8D0;
  }
   
  /* Ligne orange en haut du footer */
  .footer__accent-line {
    height: 4px;
    background: linear-gradient(to right, #F4A226, #F76B1C);
  }
   
  /* Contenu principal du footer */
  .footer__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    padding: 40px 24px 24px;
  }
   
  /* Colonne gauche  */
  .footer__brand {
    max-width: 400px;
  }
   
  .navbar__logo-img{
    max-height: 70px;
    width: auto;

  }

  .footer__brand-logo {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;
  }

   
  .footer__brand-name {
    font-size: 28px;
    font-weight: 700;
    color: #EDE8D0;
    letter-spacing: 2px;
  }
   
  /* Baseline colorée */
  .footer__baseline {
    display: flex;
    align-items: start;
    font-size: 16px;
    font-style: italic;
    font-weight: 600;
    margin-bottom: 12px;
  }
   
  .footer__baseline-trouver {
    color: #F4A226;
  }
   
  .footer__baseline-travailler {
    color: #7A9E50;
  }
   
  .footer__baseline-recolter {
    color: #5A7A3A;
  }
   
  /* Description */
  .footer__description {
    text-align: start;
    font-size: 14px;
    color: #b8b5a4;
    line-height: 1.6;
    margin-bottom: 60px;
    font-weight: 600;
  }
   
  /* Réseaux sociaux */
  .footer__socials {
    display: flex;
    gap: 12px;
  }
   
  .footer__social-icon {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1.5px solid #5A7A3A;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #b8b5a4;
    text-decoration: none;
    font-size: 13px;
    transition: border-color 0.2s, color 0.2s;
  }
   
  .footer__social-icon:hover {
    border-color: #F4A226;
    color: #F4A226;
  }
   
  /* Colonne droite */
  .footer__info {
    text-align: right;
  }
   
  .footer__info-title {
    font-size: 28px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 30px;
    color: #EDE8D0;
  }
   
  .footer__info-links {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }
   
  .footer__info-links a {
    color: #b8b5a4;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.2s;
  }
   
  .footer__info-links a:hover {
    color: #F4A226;
  }
   
  /* bas du footer */
  .footer__bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px 24px;
    text-align: center;
  }
   
  .footer__bottom p {
    font-size: 13px;
    color: #7a7868;
    margin: 0;
  }
   